body {
  margin: 0;
  /* 100 300 500 700 900 */
  font-family: "Montserrat", sans-serif;
}

::selection {
  background-color: #ccfbf1;
}

.title-container {
  width: 100%;
  padding: 0.5rem 0;
  background-color: hsl(175, 84%, 32%);
  border-bottom: 1px solid hsl(12, 6%, 15%);
  margin-bottom: 2rem;
}

.main-title {
  font-weight: 500;
  color: hsl(0, 0%, 100%);
  text-align: center;
}
.error-msg {
  color: red;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.qr-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 50%;
  width: 100%;
}

.qr-input {
  font-size: 1rem;
  padding: 1rem;
  border: 0.5px solid hsl(175, 84%, 32%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 35vw;
}

.qr-input:focus {
  outline: none;
  border: 1px solid hsl(189, 94%, 43%);
  box-shadow: 0 0 10% hsl(189, 94%, 43%);
}

input::placeholder {
  font-size: 1rem;
  color: hsl(0, 0%, 65%);
}

.btn {
  border: 0;
  background: transparent;
  background-color: hsl(175, 84%, 32%);
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
  padding: 1rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: hsl(189, 94%, 43%);
  transition: 0.5s ease;
}

/* .btn:active {
  background-color: hsl(187, 92%, 69%);
} */

.btn:focus {
  outline: none; /* removes the default focus outline */
  background-color: hsl(175, 84%, 32%);
}

.cta {
  color: hsl(0, 0%, 36%);
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}

@media (max-width: 48rem) {
  .qr-container {
    max-width: 64%;
  }
  .qr-input {
    width: 50vw;
  }
}

@media (max-width: 28.125em) {
  .qr-container {
    max-width: 100%;
  }
}
